doctype html
html(lang="ru")
  head
    include chunks-pug/tpl.head-common_part.pug
    include chunks-pug/tpl.bk-head_link.pug

  body.order-page

    include chunks-pug/tpl.menu-header.pug

    include chunks-pug/tpl.bk-form_promo.pug

    footer.footer.panel
      include chunks-pug/tpl.bk-footer.pug

    include chunks-pug/tpl.bk-scripts.pug