doctype html
html(lang="ru")
  head
    include chunks-pug/tpl.head-common_part.pug
    include chunks-pug/tpl.bk-head_link.pug

  body.price-page

    include chunks-pug/tpl.menu-header.pug

    include chunks-pug/tpl.bk-price.pug

    include chunks-pug/tpl.bk-stocks.pug

    footer.footer.panel
      include chunks-pug/tpl.bk-footer.pug

    include chunks-pug/tpl.bk-scripts.pug