.overview
  .container.overview__container
    .section.overview__item.overview__item_odd
      .overview__content.overview__col
        .section__header.overview__header.title
          | Удобный веб-клиент
          .overview__number 01
        .overview__text
          p Удобная работа с электронными документами без установки дополнительного программного обеспечения.
          p Возможность работы с документами в любом месте, где есть доступ в интернет.
        .section__action
          a.button(href="price.html") Выбрать тариф
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-webclient.png", alt="Удобный веб-клиент")
      .clear
  .container.overview__container
    .section.overview__item
      .overview__content.overview__content_right.overview__col
        .section__header.overview__header.title
          | Отчётность в контролирующие органы
          .overview__number 02
        .overview__text
          p
            | Отчетность в сервисе формируется автоматически на основе заведенных ранее бухгалтерских данных. .
          p
            | Все возможности сервиса соответствуют законодательству, формы обновляются сами, а встроенная система проверки предупредит об ошибках при заполнении.
          p
            | Отправляйте сформированные отчёты непосредственно из сервиса, подписав их электронной подписью.
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-taxreports.png", alt="Отчётность в контролирующие органы")
      .clear
  .container.overview__container
    .section.overview__item.overview__item_odd
      .overview__content.overview__col
        .section__header.overview__header.title
          | Расчёт зарплаты, больничных, отпускных, налогов и взносов
          .overview__number 03
        .overview__text
          p
            | Импортируйте из 1С данные по всем сотрудникам, а также справочники контрагентов, номенклатуры и основных средств.
          p
            | Зарплата по каждому сотруднику будет автоматически начисляться каждый расчетный период — вам останется только подтвердить суммы. Сам расчёт всех выплат займёт несколько минут.
        .section__action
          a.button(href="price.html") Выбрать тариф
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-salary.png", alt="Расчёт зарплаты, больничных, отпускных, налогов и взносов")
      .clear
  .container.overview__container
    .section.overview__item
      .overview__content.overview__content_right.overview__col
        .section__header.overview__header.title
          | Бухгалтерский и налоговый учет для УСН, ЕНВД и ОСНО
          .overview__number 04
        .overview__text
          p
            | В системе есть вся нормативная информация и документация для различных систем налогообложения: ОСНО, УСН, ЕНВД.
          p
            | Выполняйте все необходимые операции прямо в системе:
          ul
            li
              | анализ счетов, ведение карточек счетов и журнала проводок;
            li
              | сверка с контрагентами по НДС;
            li
              | книги покупок и продаж, журнал учета счетов-фактур;
            li
              | книга учета доходов и расходов для УСН;
            li
              | подсказки и напоминания об уплате налогов;
            li
              | сверка с контролирующими органами, таблица задолженности по налогам;
            li
              | учёт основных средств.
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-systemtax.png", alt="Бухгалтерский и налоговый учет для разных налоговых режимов")
      .clear
  .container.overview__container
    .section.overview__item.overview__item_odd
      .overview__content.overview__col
        .section__header.overview__header.title
          | Информация, необходимая для ведения бизнеса
          .overview__number 05
        .overview__text
          p
            | Сервис интуитивно понятен и прост. Если у вас возникают вопросы, можете воспользоваться многочисленными подсказками. Директор и менеджеры могут сами выставлять счета, акты, накладные, а входящие документы распознаются автоматически по сканам.
        .section__action
          a.button(href="price.html") Выбрать тариф
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-businessinfo.png", alt="Информация, необходимая для ведения бизнеса")
      .clear
  .container.overview__container
    .section.overview__item
      .overview__content.overview__content_right.overview__col
        .section__header.overview__header.title
          | Электронный документооборот
          .overview__number 06
        .overview__text
          p Оформляйте и получайте электронные акты, счета-фактуры и накладные и отправлять их прямо в сервисе.
          p Накладные с большим количестовм данных можно распознать по сканам и фотографиям.
          p Передавайте платежные документы между Бухгалтерией и интернет-банком автоматически. Документы с подписью и печатью можно отправлять по почте прямо из Бухгалтерии.
      .overview__image.overview__col
        img.overview__img(src="/assets/kontur_bk/img/overview/ovrview-edoc.png", alt="Электронный документооборот с контрагентами")
      .clear