link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/reset.min.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/fonts.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/magnific-popup.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/owl.carousel.min.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/jquery.formstyler.min.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/style.css")
link(rel="stylesheet", type="text/css", href="/assets/kontur_bk/css/adaptive.css")
// <base href="[[++site_url]]" />