.section.price
  .container
    .section__header.title Тарифы и цены
    form.price__row(action="", method="post")
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Комфорт
          .price__options.js-price-fix
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Бухгалтерский и налоговый учёт
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Расчёт зарплаты, налогов и взносов
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Подготовка отчётности
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Отправка отчётности через интернет
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Многопользовательский режим
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Автоматические обновления
            label.price__line
              input(type="checkbox", name="bk_chbx_price1", checked="", disabled="")
              | Получение электронных документов
            br
            span.price__options-desc.price__options-markerplus
              | Распознавание накладных – 1500 документов в год
          .price__quarter от 3 000 Р в квартал
          .price__price от 9 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Оптимальный
          .price__options.js-price-fix
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              | Бухгалтерский и налоговый учёт
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              span Расчёт зарплаты, налогов и взносов
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              | Подготовка отчётности
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              | Отправка отчётности через интернет
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              | Многопользовательский режим
            label.price__line
              input(type="checkbox", name="bk_chbx_price2", checked="", disabled="")
              | Автоматические обновления
            br
            span.price__options-desc.price__options-markerplus
              | Распознавание накладных – 1500 документов в год
            span.price__options-desc.price__options-markerplus
              | Проверка контрагентов
            span.price__options-desc.price__options-markerplus
              | Справочно-правовой сервис
            span.price__options-desc.price__options-markerplus
              | Вопросы эксперту – 5 вопросов в год
            span.price__options-desc.price__options-markerplus
              | Финансовый анализ – 10 раз в год
            span.price__options-desc.price__options-markerplus
              | Получение электронных документов
            span.price__options-desc.price__options-markerplus
              | Отправка электронных документов – 300 в год
          .price__quarter от 4 000 Р в квартал
          .price__price от 12 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Максимальный
          .price__options.js-price-fix
            label.price__line.title.text-center
              | Все возможности без ограничений
            br
            span.price__options-desc.price__options-markerplus
              | Выделенная линия техподдержки
            span.price__options-desc.price__options-markerplus
              | Вопросы эксперту – без ограничений
            span.price__options-desc.price__options-markerplus
              | Распознавание накладных – без ограничений
            span.price__options-desc.price__options-markerplus
              | Финансовый анализ – без ограничений
            span.price__options-desc.price__options-markerplus
              | Отправка и получение электронных документов – без ограничений
          .price__quarter от 6 000 Р в квартал
          .price__price от 18 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      .clear
      
      //- Second line of rates
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix2 Стандарт
          .price__options.js-price-fix2
            label.price__line
              input(type="checkbox", name="bk_chbx_price4", checked, disabled)
              | Бухгалтерский и налоговый учёт
            label.price__line
              input(type="checkbox", name="bk_chbx_price4", checked, disabled)
              | Расчёт зарплаты, налогов и взносов
            label.price__line
              input(type="checkbox", name="bk_chbx_price4", checked, disabled)
              | Подготовка отчётности
            label.price__line
              input(type="checkbox", name="bk_chbx_price4", checked, disabled)
              | Многопользовательский режим
            label.price__line
              input(type="checkbox", name="bk_chbx_price4", checked, disabled)
              | Автоматические обновления
            br
            span.price__options-desc.price__options-markerminus
              | Без отправки отчетности
            span.price__options-desc.price__options-markerminus
              | Без распознавания сканов
            span.price__options-desc.price__options-markerminus
              | Без дополнительных сервисов
          .price__quarter от 2 000 Р в квартал
          .price__price от 6 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix2 Зарплата
          .price__options.js-price-fix2
            label.price__line
              input(type="checkbox", name="bk_chbx_price5", checked="", disabled="")
              | Расчёт зарплаты, налогов и взносов
            label.price__line
              input(type="checkbox", name="bk_chbx_price5", checked="", disabled="")
              | Подготовка отчётности
            label.price__line
              input(type="checkbox", name="bk_chbx_price5", checked="", disabled="")
              | Многопользовательский режим
            label.price__line
              input(type="checkbox", name="bk_chbx_price5", checked="", disabled="")
              | Автоматические обновления
            br
            span.price__options-desc.price__options-markerminus
              | Без бухгалтерского учёта
            span.price__options-desc.price__options-markerminus
              | Без отправки отчетности
            span.price__options-desc.price__options-markerminus
              | Без распознавания сканов
            span.price__options-desc.price__options-markerminus
              | Без дополнительных сервисов
          .price__quarter от 1 500 Р в квартал
          .price__price от 4 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix2 Бухгалтерия
          .price__options.js-price-fix2
            label.price__line
              input(type="checkbox", name="bk_chbx_price6", checked="", disabled="")
              | Бухгалтерский и налоговый учёт
            label.price__line
              input(type="checkbox", name="bk_chbx_price6", checked="", disabled="")
              | Подготовка отчётности
            label.price__line
              input(type="checkbox", name="bk_chbx_price6", checked="", disabled="")
              | Многопользовательский режим
            label.price__line
              input(type="checkbox", name="bk_chbx_price6", checked="", disabled="")
              | Автоматические обновления
            br
            span.price__options-desc.price__options-markerminus
              | Без расчёта зарплаты
            span.price__options-desc.price__options-markerminus
              | Без отправки отчетности
            span.price__options-desc.price__options-markerminus
              | Без распознавания сканов
            span.price__options-desc.price__options-markerminus
              | Без дополнительных сервисов
          .price__quarter от 1 000 Р в квартал
          .price__price от 3 000 Р в год
          .price__action
            a.button.button_wide(href="order-comfort.html") Подключиться
      .clear

.section.download
  .container
    .download__content
      .section__header.title.download__header Скачать прайс-лист
      .download__line
        a.download__link(href="") Прайс-лист тарифных планов Бухгалтерии, doc, 47 КБ