section.promo.section.promo_index
  .container.promo__container
    .container__row
      .promo__header.container__col
        h1.title Бухгалтерия
      .promo__description.container__col
        | Удобный и простой сервис для совместной работы бухгалтеров и директоров небольших компаний.
      .promo__action.container__col
        a.promo__link.button.button_wide(href="order-common.html") Отправить заявку
      .clear